<template>
  <div>
    Фильтр
    <input
        @keyup.enter=""
        v-model="filter"
        @input="senderChangeInput"
        type="text"
        name="wallet"
        class="block w-full pr-10 border-gray-300 text-gray-900 focus:outline-none focus:ring-gray-500 focus:border-gray-500 sm:text-sm rounded-md"
        placeholder="Например DOGE"
    />
    <template v-if="!filter">
    <button
        v-if="page !== 1"
        @click="senderDecrementPage"
        type="button"
        class="my-4 mx-5 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    >Prev
    </button>
    <button
        v-if="page !== maxPage && maxPage !== 0"
        @click="senderIncrementPage"
        type="button"
        class="my-4 mx-5 inline-flex items-center py-2 px-4 border border-transparent shadow-sm text-sm leading-4 font-medium rounded-full text-white bg-gray-600 hover:bg-gray-700 transition-colors duration-300 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
    >Next
    </button>
    </template>
  </div>
</template>

<script>
export default {
  name: "InterfaceBox",
  props: {
    page: Number,
    filter: String,
    maxPage: Number,
  },
  emits: ['changeFilter', 'incrementPage', 'decrementPage'],
  data() {
    return {

    }
  },
  methods: {
    /**
     * SenderEmits
     */
    senderChangeInput() {
      this.$emit('changeFilter', this.filter)
    },
    senderDecrementPage() {
      this.$emit('decrementPage')
    },
    senderIncrementPage() {
      this.$emit('incrementPage')
    },
  }
}
</script>

<style scoped>

</style>